doctype html
head
    title Cookbook - #{title}
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/styles.css')
body
    header
        h1 Cookbook
    main: article
        h1= title
        != contents
